---
import { Tick } from "@components/ui/icons";
import Link from "@components/ui/link.astro";
import BorderButton from "./border-button.astro";
import BasicButton from "./basic-button.astro";

const { plan } = Astro.props;
---

<div>
  <div class="flex flex-col w-full order-first lg:order-none border-2 border-[#D8DEE9] border-opacity-50 py-5 px-6 rounded-md">
    <div class="text-center">
      <h4 class="text-lg font-medium text-gray-400">{plan.name}</h4>
       
      <p class="mt-3 text-4xl font-bold text-black md:text-4xl line-through">
        {
          plan.oldPrice 
       }
      </p>
      <p class="mt-3 text-4xl font-bold text-black md:text-4xl">
        {
          plan.price && typeof plan.price === "object"
            ? plan.price.monthly
            : plan.price
        }
      </p>
      <p class="mt-3 text-sm font-medium text-gray-400">
          {
            plan.idealFor
          }
      </p>
    </div>
      <!-- {
        plan.price.original && (
          <p class="mt-1 text-xl font-medium text-gray-400 line-through md:text-2xl">
            {plan.price.original}
          </p>
        )
      } -->
    <ul class="grid mt-8 text-left gap-y-4">
      {
        plan.features.map((item) => (
          <li class="flex items-start gap-3 text-gray-800">
            <Tick class="w-6 h-6" />
            <span>{item}</span>
          </li>
        ))
      }
    </ul>
    <div class="flex mt-8">
  
      {plan.popular ? (
    // Render this div if the plan is popular
      
        <BasicButton 
        class="flex gap-1 items-center justify-center font-bold" 
        text="Get AppKickstarter" 
        url={plan.button.link}
      /> 
  ) : (
    // Render a Link if the plan is not popular
    <BorderButton 
      target="_blank"
      block
          class="flex gap-1 items-center justify-center font-bold" 
          text={plan.button.text || "Get Started"}
          url={plan.button.link}
        /> 
  )
  }
    </div> 
  </div>
</div>
